.main {
  display: flex;
  justify-content: center;
}
h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 20px;
}
.squ {
  width: 100px;
  vertical-align: middle;
}

.jp {
  width:100px;
  vertical-align: middle;
}