.main {
  display: flex;
  justify-content: center;
}

.naviu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  margin: auto;
  font-size: 20px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}

.pic {
  width: 400px;
  height: 650px;
  border-radius: 10%;
}

.guyinfo {
  display: flex;
  justify-content: space-evenly;
}

.date {
  background: rgb(171, 213, 238);
  width: 400px;
  height: 650px;
  border-radius: 10%;
}

.profile {
  list-style: none;
 
}

h2 {
  text-align: center;
}
.comments {
  background: pink;
  width: 400px;
  height: 650px;
  border-radius: 10%;
}

.com {
  font-size:20px;
  margin-left: 20px;
}
.answer {
 width: 250px;
 margin-top: 20px;
 border-radius: 10%
}

.like-dislike {
  width: 100%;
  display: flex;
  justify-content: center;
}