.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 50px;
}

.language {
  text-align: right;
}
.container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.btn1 {
  width: 30vw;
  height: 10vh;
  margin: 30px;
  font-size: 20pxl;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 50px;

}

