.main {
  display: flex;
  justify-content: center;
  
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}

.language {
  text-align: right;
}
.container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.btn1 {
  width: 200px;
  height: 100px;
  margin: 30px;
  font-size: 20pxl;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 50px;

}

